<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        .header {
            height: 50px;
            background-color: #f4f4f4;
            line-height: 50px;
            color: #333;
            font-size: 18px;
            text-align: center;
        }
        
        .wrapper {
            width: 700px;
            margin: auto;
        }
        
        .cont {
            margin-top: 10px;
        }
        
        .cont p {
            line-height: 30px;
            text-indent: 5px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="header">
            content
        </div>
        <div class="cont">

        </div>

    </div>
    <script src='/jquery.js'></script>
    <script>
        'use strict'
        const urls = location.search.substr(1),
            ids = urls.split('=')[1];
        $.ajax({
            url: "/select",
            type: "post",
            data: {
                id: ids
            },
            success: (msg) => {

                $('.header').text(msg[0].title);
                const content = "<p>" + msg[0].content + "</p>";
                $('.cont').append(content);
            }

        })
    </script>
</body>

</html>